<div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
  <div class="example-box" (dblclick)="editCategory(category)" (click)="getDishsById(category.id , i)" *ngFor="let category of categories; let i = index"
       cdkDrag>
    <label *ngIf="editingCategoryId != category.id">{{category.name}}</label>
    <input *ngIf="editingCategoryId == category.id" (keyup.enter)="editCategory(category)" (mouseleave)="editCategory(category)" [(ngModel)]="editingCategoryInput">
    <i *ngIf="editingCategoryId != category.id" class="far fa-trash-alt delete-btn" (click)="deleteCategory(category.id)">
    </i>
  </div>
  <div class="add-button button">
    <i class="material-icons add__icons" (click)="createPopup = true">
      add
    </i>
  </div>
</div>

<app-dish  [categoryId]="categoryId" [newDishes]="dishes" [condition]="condition" (conditionForm)="eventEmit($event)">

</app-dish>

<div class="popup" *ngIf="createPopup">
  <div class="popup__wrapper">
    <mat-form-field>
      <input matInput type="text" [(ngModel)]="newCategory">
    </mat-form-field>
    <div class="popup__btn">
      <i class="material-icons " (click)="addCategory()">
        done
      </i>
      <i class="material-icons" (click)="createPopup = false">
        block
      </i>
    </div>
  </div>
</div>



