<div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">

  <div (click)="getDishsById(category.id , i)" (dblclick)="editCategory(category)"
       (cdkDragStarted)="categoryDraging = true"
       *ngFor="let category of categories | slice:lowestPagginationNumber:higestPagginationNumber; let i = index" cdkDrag class="example-box">
    <label *ngIf="editingCategoryId != category.id">{{category.name}}</label>
    <input *ngIf="editingCategoryId == category.id" (keyup.enter)="editCategory(category)" (mouseleave)="editCategory(category)" [(ngModel)]="editingCategoryInput">
    <i *ngIf="editingCategoryId != category.id" class="far fa-trash-alt delete-btn" (click)="deleteCategory(category.id, i)">
    </i>
  </div>

  <div class="scroll-button" *ngIf="showMoreCategoriesArrows && lowestPagginationNumber != 0"
       (click)="changeCategoriesPage(6, false)" (mouseover)="changeCategoriesPage(1, false, true)">
    <i class="material-icons">
      keyboard_arrow_left
    </i>
  </div>
  <div class="scroll-button">
    <div  *ngIf="showMoreCategoriesArrows && higestPagginationNumber < categories.length"
         (click)="changeCategoriesPage(6, true)" (mouseover)="changeCategoriesPage(1, true, true)">
      <i class="material-icons">
        keyboard_arrow_right
      </i>
    </div>

    <div >
      <i class="material-icons add__icons scroll-button-add" (click)="createPopup = true">
        add
      </i>
    </div>
  </div>

</div>

<mat-tab-group [(selectedIndex)]="animationCategoryIndex" [disableRipple]="true"
               *ngIf="animationCategoryDirectionRight" [animationDuration]="animationCategoryDurationTime">
  <mat-tab [disabled]="true">
    <app-dish  [categoryId]="lastCategoryId" [newDishes]="lastDishes"
               [condition]="condition" (conditionForm)="eventEmit($event)">
    </app-dish>
  </mat-tab>
  <mat-tab [disabled]="true">
    <app-dish  [categoryId]="categoryId" [newDishes]="dishes"
               [condition]="condition" (conditionForm)="eventEmit($event)">
    </app-dish>
  </mat-tab>
</mat-tab-group>

<mat-tab-group [(selectedIndex)]="animationCategoryIndex" [disableRipple]="true"
               *ngIf="!animationCategoryDirectionRight" [animationDuration]="animationCategoryDurationTime">
  <mat-tab [disabled]="true">
    <app-dish  [categoryId]="categoryId" [newDishes]="dishes"
               [condition]="condition" (conditionForm)="eventEmit($event)">
    </app-dish>
  </mat-tab>
  <mat-tab [disabled]="true">
    <app-dish  [categoryId]="lastCategoryId" [newDishes]="lastDishes"
               [condition]="condition" (conditionForm)="eventEmit($event)">
    </app-dish>
  </mat-tab>
</mat-tab-group>

<div class="popup" *ngIf="createPopup">
  <div class="popup__wrapper">
    <mat-form-field>
      <input matInput type="text" [(ngModel)]="newCategory">
    </mat-form-field>
    <div class="popup__btn">
      <i class="material-icons " (click)="addCategory()">
        done
      </i>
      <i class="material-icons" (click)="createPopup = false">
        block
      </i>
    </div>
  </div>
</div>



