<form class="example-form" [formGroup]="cafeGroup">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Name" formControlName="name">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Address" formControlName="address">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input type="tel" matInput placeholder="phone" formControlName="phone">
  </mat-form-field>

  <input type="file"  (change)="addPhoto($event)" formControlName="logo">

  <div class="work__time">

  </div>

</form>

<form class="example-form" [formGroup]="timeGroup">

  <div >
    <mat-list>
      <mat-list-item>Monday</mat-list-item>
      <input type="time"  formControlName="Monday" class="time__week">
      <input type="time"  formControlName="MondayClose" class="time__week">
    </mat-list>
    <mat-list>
      <mat-list-item>Tuesday</mat-list-item>
      <input type="time" formControlName="Tuesday" class="time__week">
      <input type="time" formControlName="TuesdayClose" class="time__week">
    </mat-list>
    <mat-list>
      <mat-list-item>Wednesday</mat-list-item>
      <input type="time" formControlName="Wednesday" class="time__week">
      <input type="time" formControlName="WednesdayClose" class="time__week">
    </mat-list>
    <mat-list>
      <mat-list-item>Thursday</mat-list-item>
      <input type="time" formControlName="Thursday" class="time__week">
      <input type="time" formControlName="ThursdayClose" class="time__week">
    </mat-list>
    <mat-list>
      <mat-list-item>Friday</mat-list-item>
      <input type="time" formControlName="Friday" class="time__week">
      <input type="time" formControlName="FridayClose" class="time__week">
    </mat-list>
    <mat-list>
      <mat-list-item>Saturday</mat-list-item>
      <input type="time" formControlName="Saturday" class="time__week">
      <input type="time" formControlName="SaturdayClose" class="time__week">
    </mat-list>
    <mat-list>
      <mat-list-item>Sunday</mat-list-item>
      <input type="time" formControlName="Sunday" class="time__week">
      <input type="time" formControlName="SundayClose" class="time__week">
    </mat-list>

  </div>

  <div class="btn__cafe">
    <i class="material-icons" (click)="createCafe()">
      done_all
    </i>
    <i class="material-icons" routerLink="/main">
      block
    </i>
  </div>
</form>









