//MENU
.two-sections {
  margin: 2vh;

  &__item {
    width: 50%;
    height: 100%;
    margin: 0 auto;

    .example-container {
      flex-direction: column;
      margin: 0 auto;

      color: black;
      padding: 0 20px;

      mat-form-field {
        width: 70%;
        margin: 0 auto;

      }
    }
  }

  &__form {
    //display: flex;
    //  justify-content: space-between;
  }
}

.example-form {
  display: flex;
  justify-content: space-between;
  align-self: end;

  i {
    align-self: flex-end;
  }
}

//MENU UPDATE
.menu {
  //margin: 0 auto;
  //padding: 10px;
  //text-align: center;
  min-height: 90vh;
  overflow: -moz-scrollbars-none;

  .example-box {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 100%;
    width: 300px;
    //padding:  0 0 20px 0;
    //box-shadow: 9px 7px 6px -2px rgba(212,205,212,1);
    //box-shadow: 8px 10px 0px -2px rgba(212,205,212,1);
    box-shadow: 9px 6px 11px 3px rgba(199, 195, 199, 1);
  }



  &__image {
    //padding-right: 10px;
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    //background: linear-gradient(-45deg, transparent 15px, #58a 0);
    border-radius: 0 150px 0 0;
    padding: 0 150px 0 0;
  }

  &-info {
    display: flex;
    justify-content: space-between;
    //border: 1px solid red;

    &__name {
      font-weight: bold;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      font-size: 15px;
    }

    //&__image {
    //  width: 20px;
    //  padding: 0 0 0 150px;
    //  font-size: 17px;
    //}

    &__price {
      border: none;
      cursor: pointer;
      font-size: 15px;
      width: 65px;
      text-align: center;
      text-transform: uppercase;

    }
  }

  &__description {
    border: none;
    height: available;
    resize: none;
    width: 90%;
    font-size: 13px;

    &:focus {
      outline: none;
    }
  }

  &__weight {
    display: flex;
    justify-content: space-between;
    height: 20px;
    align-items: center;

    &-input {
      border: none;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
  }

}

//ADD-CAFE
.add-cafe {
  .mat-fab {
    position: fixed;
    right: 40px;
    bottom: 40px;
    background-color: white;
    color: black;
  }

  .reverse {
    position: fixed;
    left: 40px;
    bottom: 40px;
    background-color: white;
    color: black;
  }
}

//Drag and Drop
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  //width: 100%;
  //margin: 0;
  //position: absolute;
  //padding-right: -10px;
  //background-color: red;
}

.cdk-drag-placeholder {
  opacity: 0;
  margin: 0;

}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
  //background-color: red;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  //margin: 0 auto;
  //display: table;
}

//.cdk-drop-list-dragging {
//  padding: 20px;
//}

//anim-show
.anim-show {
  position: absolute;
  right: 35%;
  opacity: 1;
}

.anim-show-infinite {
  animation: show 1s;
}

.anim-hide-infinite{
  animation: hide 1s;
}

@keyframes show {
  0% {
    opacity: 0;
    right: -35%;
  }
  100% {
    opacity: 1;
    right: 35%;
  }
}

@keyframes hide {
  0% {
    opacity: 0;
    left: 35%;
  }
  100% {
    opacity: 1;
    left: 35%;
  }
}


.mat-expansion-panel {
  box-shadow: none;
}

.expansion-panel {
  display: flex;
  justify-content: space-between;
}

.far {
  display: flex;
  justify-content: flex-end;

  //position: absolute;
  //top: 15px;
  //right: 357px;
}

.pulsing-button{
  animation: pulsing-button 1s 3s infinite;
}

@keyframes pulsing-button {
  0% {
    opacity: 25%;
    transform: scale(1);
  }
  100% {
    opacity: 100%;
    transform: scale(1.25);
  }
}

.dish-creating{
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
  height: 100%;
}

.dish-creating big-button{
  width: 100%;
  text-align: center;
}

.dish-form{
  display: flex;
  flex-direction: column;
}

.ingridients-form{
  display: flex;
  flex-direction: column;
}

.ingredients-list{
  display: flex;
  flex-direction: column;
}

.menu i{
  padding: 5px;
  cursor: pointer;
}
