<div class="two-sections">
  <form [formGroup]="dishGroup">
    <div class="two-sections__item">
      <div class="example-container">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="description" placeholder="Description">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="price" placeholder="Price">
        </mat-form-field>
        <!--      <mat-form-field>-->
        <!--        <input matInput formControlName="priceWeight" placeholder="Price Weight">-->
        <!--      </mat-form-field>-->
        <mat-form-field>
          <input matInput formControlName="weight" placeholder="Weight">
        </mat-form-field>
        <!--        <input formControlName="image" (change)="fileSelect($event)"  type="file" placeholder="Image">-->
        <input (change)="newAddPhoto($event)"  type="file" placeholder="Image">
        <button mat-button *ngIf="dishId" (click)="updateDish()">Edit</button>
        <button mat-button  (click)="addDish()">New</button>

        <!--      <button mat-button (click)="deleteDishes(dishId)">Delete</button>-->
      </div>
    </div>
  </form>





<div class="two-sections__item">
  <mat-list>
    <mat-list-item *ngFor="let dish of newDishes">
      <p (click)="newGetDish(dish.id)">{{dish.name}}</p>
    </mat-list-item>
  </mat-list>
</div>
</div>
