<div class="two-sections" *ngIf="!condition">
  <form [formGroup]="dishGroup">
    <div class="two-sections__item">
      <div class="example-container">
        <mat-form-field class="example-full-width">
          <input matInput  placeholder="Name" formControlName="name">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="description" placeholder="Description">
        </mat-form-field>
        <mat-form-field>
          <input matInput  formControlName="price" placeholder="Price">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="weight" placeholder="Weight">
        </mat-form-field>
        <input (change)="newAddPhoto($event)" type="file" placeholder="Image">
        <i class="material-icons" *ngIf="hide">
          done_all
        </i>
        <i class="material-icons" (click)="toggle()">
          block
        </i>

      </div>
    </div>
  </form>

</div>

<button mat-fab *ngIf="condition" (click)="toggle('hide')">
  <i class="material-icons color__icons">
    add
  </i>
</button>

<button mat-fab *ngIf="!condition && !hide">
  <i class="material-icons color__icons" (click)="addDish()">
    check
  </i>
</button>


<div *ngIf="condition" class="menu__wrapper anim-show" >
  <form [formGroup]="updateDishGroup">

  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">

      <div class="example-box " *ngFor="let dish of newDishes" cdkDrag (dblclick)="dblClickDishes(dish)">
        <img class="menu__image"  *ngIf="dish.edit" src="{{dish.image}}" >
        <input type="file" (change)="newAddPhoto($event)" *ngIf="!dish.edit" formControlName="image">
        <div class="menu">
          <input [readonly]="dish.edit" class="menu__name" value="{{dish.name}}" formControlName="name">
          <i class="fas fa-euro-sign"></i>
          <input [readonly]="dish.edit" class="menu__price" value="{{dish.price}}" formControlName="price">

        </div>
        <textarea [readonly]="dish.edit" class="menu__description" value="{{dish.description}}" formControlName="description"></textarea>
        <input [readonly]="dish.edit" class="menu__weight" value="{{dish.weight}}" formControlName="weight">
        <div class="menu">
          <i class="far fa-trash-alt" *ngIf="dish.edit" (click)="deleteDish(dish.id)"></i>
          <i class="material-icons"  *ngIf="!dish.edit" (click)="updateDish(dish.id)">
            done
          </i>
          <i class="material-icons" *ngIf="!dish.edit" (click)="dish.edit = true">
            block
          </i>
        </div>
      </div>

  </div>
  </form>

</div>






