<!--<mat-form-field>-->
<!--  <input matInput formControlName="description" placeholder="Description">-->
<!--</mat-form-field>-->
<div class="dish-creating" *ngIf="!condition">
  <form class="dish-form" [formGroup]="dishGroup">
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="description" placeholder="Description">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="price" placeholder="Price" type="number" maxlength="8">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="weight" placeholder="Weight" type="number" maxlength="6">
    </mat-form-field>
    <input (change)="newAddPhoto($event)" type="file" placeholder="Image">
  </form>
  <button mat-button (click)="panelOpenState = true" (click)="addDish()" class="big-button" *ngIf="!panelOpenState && dishGroup.valid && newFile"><h3>Add ingredients</h3></button>
  <form class="ingridients-form" [formGroup]="ingredientsGroup" *ngIf="panelOpenState && dishHaveBeenAdded">
    <button mat-button class="big-button" (click)="addIngredient()" disabled="{{ingredientsGroup.invalid}}"><h3>Add ingredient +</h3></button>
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Price" formControlName="price" type="number" maxlength="8">
    </mat-form-field>
  </form>
  <div *ngIf="ingredients.length" class="ingredients-list">
    <label fxFlex>Added ingredients:</label>
    <mat-divider></mat-divider>
    <label *ngFor="let ingredient of ingredients" fxFlex>{{ingredient.name}}<mat-divider></mat-divider></label>
  </div>
</div>

<div class="add-cafe">
  <button mat-fab *ngIf="!newDishes.length && condition" (click)="toggle('hide')" class="pulsing-button">
    <i class="material-icons color__icons">
      add
    </i>
  </button>

  <button mat-fab *ngIf="condition && newDishes.length" (click)="toggle('hide')">
    <i class="material-icons color__icons">
      add
    </i>
  </button>

  <button mat-fab *ngIf="!condition && !hide && !dishGroup.invalid && newFile">
    <i class="material-icons color__icons" (click)="addDish()" (click)="toggle()">
      check
    </i>
  </button>

  <button mat-fab class="reverse" *ngIf="!condition && !hide">
    <i class="material-icons color__icons" (click)="cancelDishAdd()" (click)="toggle()">
      block
    </i>
  </button>

</div>


<div *ngIf="condition" class="menu">

  <form [formGroup]="updateDishGroup">

    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">

      <div class="example-box " *ngFor="let dish of newDishes" cdkDrag (dblclick)="dblClickDishes(dish)">
        <img class="menu__image" src="{{dish.image}}">
        <input type="file" (change)="newAddPhoto($event)" *ngIf="!dish.edit">
        <div class="menu-info">
          <input [readonly]="dish.edit" class="menu-info__name" value="{{dish.name}}" formControlName="name">
          <!--<i class="fas fa-euro-sign menu-info__image"></i>-->
          <input [readonly]="dish.edit" class="menu-info__price" value="{{dish.price}}" formControlName="price">

        </div>

        <textarea autosize [readOnly]="dish.edit" class="menu__description" value="{{dish.description}}"
                  formControlName="description"></textarea>
        <div class="menu__weight">
          <p>weight:</p>
          <input [readonly]="dish.edit" class="menu__weight-input" value="{{dish.weight}}" formControlName="weight">
        </div>

        <div class="menu__list">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                More details
              </mat-expansion-panel-header>
              <div *ngFor="let item of dish.ingredients" class="expansion-panel">
<!--                <p>{{item.name}}</p>-->
<!--                <p>{{item.price}}</p>-->
                <input [readOnly]="dish.edit" value="{{item.name}}">
                <input [readOnly]="dish.edit" value="{{item.price}}">
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>


        <div class="menu__item">
          <i class="far fa-trash-alt" *ngIf="dish.edit" (click)="deleteDish(dish.id)"></i>
          <i class="material-icons" *ngIf="!dish.edit" (click)="updateDish(dish)">
            done
          </i>
          <i class="material-icons" *ngIf="!dish.edit" (click)="dish.edit = true">
            block
          </i>
        </div>
      </div>

    </div>

  </form>

</div>






