<nav *ngIf="!navBarHiden">
<div class="dropdown">
  <button mat-button [matMenuTriggerFor]="beforeMenu" matTooltip="{{ 'MENU.MENU' | translate }}">
    <i class="material-icons">
      reorder
    </i>
  </button>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <!--<button mat-menu-item routerLink="/main/home"  routerLinkActive="active">Home</button>-->
    <button mat-menu-item routerLink="/main/cafe"  routerLinkActive="active">{{ "MENU.CAFE" | translate }}</button>
    <button mat-menu-item [matMenuTriggerFor]="langMenu">{{"SETTINGS.LANGUAGE" | translate}}</button>
    <mat-menu #langMenu="matMenu">
      <button mat-menu-item (click)="setLang('de')">Deutsche</button>
      <button mat-menu-item (click)="setLang('en')">English</button>
      <button mat-menu-item (click)="setLang('ru')">Русский</button>
      <button mat-menu-item (click)="setLang('ua')">Українська</button>
    </mat-menu>
    <button mat-menu-item routerLink="/auth/sing-in" (click)="logOut()" routerLinkActive="active">{{ "MENU.LOGOUT" | translate }}</button>
  </mat-menu>
</div>
  <div>
    <!--<button mat-button matTooltip="Tables control">-->
      <!--<img src="../../../../assets/icons/table.svg" class="table-icons" alt="">-->
    <!--</button>-->
  </div>
  <div *ngIf="!addCafeButtonHiden">
    <button mat-button routerLink="/main/create-cafe" matTooltip="{{ 'MENU.ADDCAFE' | translate }}">
      <i class="material-icons">
        post_add
      </i>
    </button>
  </div>
</nav>

<router-outlet></router-outlet>

