<div style="height: 36px;"></div>


<div class="table" *ngFor="let halls of hall; let i = index">

  <mat-card class="table__hall">Hall: №{{halls.name}}</mat-card>

  <mat-card class="table__title">
    <mat-card class="table__item" *ngFor="let table of halls.tables; let j = index">
      <i class="far fa-trash-alt table__btn" (click)="deleteTable(table.id, i, j)"></i>
      <img src="{{table.qr}}" alt="">

      <mat-card class="table__number">Table: №{{table.number}}</mat-card>
    </mat-card>


    <mat-card class="example-ripple-container mat-elevation-z4 button__plus table__table"
         matRipple
         [matRippleCentered]="centered"
         [matRippleDisabled]="disabled"
         [matRippleUnbounded]="unbounded"
         [matRippleRadius]="radius"
         [matRippleColor]="color">
      <div class="icons__plus-table">
        <i class="material-icons">
          add
        </i>
      </div>
    </mat-card>
  </mat-card>

</div>

<!--<mat-card>Simple card</mat-card>-->

<!--<mat-card class="example-card">-->

<!--</mat-card>-->


<!--<div [formGroup]="tableGroup">-->
<!--<input type="text" formControlName="number">-->
<!--<i class="material-icons">-->
<!--add-->
<!--</i>-->
<!--</div>-->

<!--<div [formGroup]="tableGroup">-->
<!--<input type="text" formControlName="number">-->
<!--<i class="material-icons" (click)="addTable()">-->
<!--add-->
<!--</i>-->
<!--</div>-->


<!--<div *ngFor="let tables of tableValueAll">-->
<!--<p>Number:{{tables.number}}</p>-->
<!--<p>busyAt: {{tables.busyAt}}</p>-->
<!--<p>Image QR  <img src="{{tables.qr}}" alt=""> </p>-->
<!--<i class="material-icons" (click)="deleteTable(tables.id)">-->
<!--delete-->
<!--</i>-->

<!--<i class="material-icons" (click)="updateTable(tables.id)">-->
<!--create-->
<!--</i>-->


<!--</div>-->


