<div class="form-group">
  <form [formGroup]="entityForm" (ngSubmit)="signUp()" class="form-center">

    <input class="form-group__input"
           formControlName="email"
           type="text" placeholder="{{ 'AUTH.EMAIL' | translate }}">


    <input class="form-group__input"
           formControlName="password"
           type="password" placeholder="{{ 'AUTH.PASSWORD' | translate }}">
    <input class="form-group__input"
           formControlName="password_repeat"
           type="password" placeholder="{{ 'AUTH.REPEATPASSWORD' | translate }}">

    <button class="form-group__button" type="submit" [disabled]="entityForm.invalid ||
    entityForm.controls.password.value != entityForm.controls.password_repeat.value">
      {{ "AUTH.SIGNUP" | translate }}
    </button>
  </form>
</div>

