<div class="form-group">
  <form [formGroup]="entityForm" (ngSubmit)="signIn()" class="form-center">

    <input class="form-group__input"
           formControlName="email"
           type="text" placeholder="{{ 'AUTH.EMAIL' | translate }}">


    <input class="form-group__input"
           formControlName="password"
           type="password" placeholder="{{ 'AUTH.PASSWORD' | translate }}">

    <p routerLink="/auth/registration">{{ "AUTH.FORGOTPASSWORD?" | translate }}</p>


    <button class="form-group__button" type="submit" [disabled]="entityForm.invalid">
      {{ "AUTH.SIGNIN" | translate }}
    </button>

    <button class="form-group__button" type="submit" routerLink="/auth/registration">
      {{ "AUTH.SIGNUP" | translate }}
    </button>
  </form>
</div>

