//update form
.form {
  .example-form {
    margin: 0 auto;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }

  .form__btn {
    display: flex;
    justify-content: space-evenly;
  }

  mat-list {
    display: flex;
  }

  &__input {
    width: 89px;
    height: 20px;
  }
}


.image-logo{
  width: 200px;
  height: 200px;
}

//
.header {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  .example-card {
    box-shadow: 5px 5px 10px black;
    flex: 0 1 calc(33.3% - 32px);
    max-width: 300px;
    height: 100%;
    min-height: 550px;
    margin: 0.5% auto;
  }

  &__cafe {
    display: flex;
    justify-content: space-between;
  }

  mat-card-title {
    text-transform: uppercase;
  }

  &__logo {
    height: 240px;
    min-width: 150px;
  }

  &__phone {
    display: flex;
    justify-content: flex-end;
    padding: 0px 16px;
  }

  &__week {
    display: flex;
    justify-content: space-between;
  }

  &__book-menu {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    .material-icons {
      //justify-content: flex-end;
    }

    img{
      margin-top: 2px;
      margin-right: 4px;
    }
  }

  .mat-list-base .mat-list-item {
    height: auto;
  }

  .week__items {
    display: flex;
    flex-direction: column;
  }

  .work__week {
    font-size: 12px;
  }
}

.header * {
  box-sizing: border-box;
}

.header > *:not(:last-child) {
  margin-right: 32px;
}

mat-grid-list{
  background: rgba(0, 0, 0, 0.05);
}

.table-icons{
  width: 20px;
  height: 20px;
}
